.modifiers {
  padding: 4px;
  grid-row: span 11;
  border: 1px solid #333e;
  li {
    padding: 2px;
  }
}

li {
  padding: 8px;
  border: 1px solid transparent;
}

.cheat-box,
.cheat-box-2,
.murder-box {
  border: 1px solid #fff5;
  background: #7771;
  padding: 8px;
  grid-row: span 3;
  grid-column-end: -1;

  button {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.ai-list {
  display: grid;
  grid-auto-rows: 16px;
  grid-gap: 4px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(32ch, 1fr));
  justify-items: stretch;
  align-items: stretch;
}

.generating {
  background: #2228;
  padding: 8px;
  border: 1px solid #fff5;
  grid-row: span 8;
}

.ai-card {
  padding: 0;
  grid-row: span 4;

  &.grad,
  &.professor {
    grid-row: span 5;
  }

  &.nobel {
    grid-row: span 6;
  }

  &.breakthrough {
    grid-row: span 7;
  }
}
