<div class="ai-list">
  <ul class="modifiers">
    <li *ngFor="let mod of ais.totalModifiers | keyvalue">
      {{ getModifierName(mod.key) }}: {{mod.value.mul(100) | units:'1.1-1'}}%
    </li>
  </ul>
  <div *ngIf="ais.inProgress" class="generating">
    <app-ai [ai]="ais.generatingAI" generation="true"></app-ai>
  </div>

  <div *ngIf="options.cheatMode" class="cheat-box">
    <button (click)="ais.active.add(ais.createAI())">MAKE ME A GUY</button>
  </div>

  <div *ngIf="options.cheatMode" class="cheat-box-2">
    <button (click)="addHundo()">MAKE ME ONE <b>HUNDDRED</b> GUYS</button>
  </div>

  <div *ngIf="options.cheatMode" class="murder-box">
    <button (click)="murderUndergrads()">MURDER THE UNDERGRADS</button>
  </div>

  <div *ngIf="options.cheatMode" class="murder-box">
    <button (click)="murderGrads()">MURDER THE GRADS</button>
  </div>

  <div class="ai-card" *ngFor="let ai of ais.active" [class]="rarityClass(ai.tier)">
    <app-ai [ai]="ai"></app-ai>
  </div>
</div>
