<p>Whatever you're looking for, it doesn't seem to be here. Go <a routerLink="/">Home</a>?</p>
<p>If you think it should be here, read the <a routerLink="/design">Design</a> or <a target="_blank" href="https://gitlab.com/HeinousTugboat/transistors-inc">file an issue</a>.</p>
