<p>Format Text: {{ options.format ? 'ON' : 'OFF' }}</p>
<p>Log Length: {{ options.logLength | units:'1.0-0' }}</p>
<p *ngIf="options.cheatMode">Cheat Mode ACTIVE</p>
<br>
<button id="cheat" (click)="options.toggleCheatMode()">Toggle Cheet</button>
<br>
<br>
<button id="reset" (click)="reset()">Reset</button>
