<div class="container">
  <h3>Total Upgrade Bonus Modifiers</h3>
  <div *ngFor="let mod of upgrades.totalModifiers | keyvalue">
    {{ getModifierName(mod.key) }}: {{mod.value.mul(100) | units:'1.1-1'}}%
  </div>

  <h3>Available</h3>
  <button *ngFor="let upgrade of upgrades.available" [disabled]="!currency.canAfford(upgrade.cost.currency, upgrade.cost.amount)" (click)="upgrades.purchase(upgrade)">Buy {{upgrade.name}} for {{upgrade.cost.amount}} {{upgrade.cost.currency}}</button>

  <h3>Purchased</h3>
  <div *ngFor="let upgrade of upgrades.purchased">
    Bought {{upgrade.name}} for {{upgrade.cost.amount}} {{upgrade.cost.currency}}
  </div>

  <h3>Not available, not purchased</h3>
  <div *ngFor="let upgrade of upgrades.upgrades">
    {{upgrade.name}} costs {{upgrade.cost.amount}} {{upgrade.cost.currency}}
  </div>
</div>
