.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  > * {
    min-width: 40ch;
    max-width: 33vw;
    margin: 4px 0 0 4px;
  }

  h3 {
    padding-top: 8px;
  }
}
