<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/upgrades" routerLinkActive="active">Upgrades</a>
  <a routerLink="/ais" routerLinkActive="active">AIs</a>
  <div class="spacer"></div>
  <a routerLink="/options" routerLinkActive="active">Options</a>
  <a routerLink="/design" routerLinkActive="active">Design</a>
  <a routerLink="/changelog" routerLinkActive="active">Changelog</a>
  <a target="_blank" href="https://gitlab.com/HeinousTugboat/transistors-inc">v{{env.version}}{{env.production ? '' : '-dev'}} <fa-icon [icon]="linkIcon" [styles]="{'vertical-align': 'unset'}" size="xs"></fa-icon></a>
</nav>
