:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8px;
}

#outlet {
  overflow: auto;
  flex-grow: 1;
  margin: -8px;
  padding: 8px;
  border-top: 1px solid #fff3;
  border-bottom: 1px solid #fff3;
  position: relative;
}
