article {
  border: 1px solid #fff8;
  padding: 8px;
  height: 100%;
  width: 100%;
  border-color: var(--fgcolor);

  header {
    margin: -8px;
    margin-bottom: 4px;
    padding: 8px;
    color: var(--fgcolor);
    background: var(--bgcolor);
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 20px;
      font-weight: 400;
      color: var(--h3color);
    }
    div {
      font-size: 80%;
      font-weight: 700;
    }
  }
  h3 {
    margin: 0;
  }
  .lines {
    display: flex;
    flex-direction: column;
  }

  .line {
    display: flex;
    justify-content: space-between;
  }

  .amount {
    margin-left: 16px;
  }
}

.undergrad {
  --h3color: #fffe;
  --fgcolor: #fff8;
  --bgcolor: #fff1;
}

.grad {
  --h3color: hsla(90, 100%, 50%, 90%);
  --fgcolor: hsla(90, 100%, 50%, 50%);
  --bgcolor: hsla(90, 100%, 50%, 10%);
}

.professor {
  --h3color: hsla(210, 100%, 50%, 90%);
  --fgcolor: hsla(210, 100%, 50%, 50%);
  --bgcolor: hsla(210, 100%, 50%, 10%);
}

.nobel {
  --h3color: hsla(300, 100%, 50%, 90%);
  --fgcolor: hsla(300, 100%, 50%, 50%);
  --bgcolor: hsla(300, 100%, 50%, 10%);
}

.breakthrough {
  --h3color: hsla(30, 100%, 50%, 90%);
  --fgcolor: hsla(30, 100%, 50%, 50%);
  --bgcolor: hsla(30, 100%, 50%, 10%);
}

.special {
  text-shadow: 0 0 4px #fff;
}
