<article [class]="rarityClass">
  <header>
    <h3>{{ ai.id }}</h3>
    <div>{{ tierName[ai.tier] }} AI</div>
  </header>

  <div class="lines">
    <div class="line" *ngFor="let line of ai.lines" [class]="lineClass(line)">
      <div>{{modName(line.type)}}</div>
      <div class="amount">+{{line.amount.mul(100) | units:'1.0-0'}}%</div>
    </div>
  </div>
</article>
