<a routerLink="/">Go Back<fa-icon [icon]="backIcon" size="xs"></fa-icon></a>
<section>
  <h2>ToDo List</h2>
  <ul>
    <li>Update income displays to match adjusted amounts in correct cases.</li>
  </ul>
</section>

<section>
  <p>Courtesy <cite>/u/second_degreeCS</cite></p>
  <ul>
    <li>Create transistors to either sell for cash or keep to use for computing </li>
    <li>The game runs in rounds starting at 15 seconds per run. This will have a rogue-lite flavor. After each run you decide whether to sell the transistors on the open market for credits or save them to train AIs.
      <ul>
        <li>At the start of each run you have 1 transistor.
          <ul>
            <li>transistors have an inherent self-replication percent r </li>
            <li>each second, the # of transistors is multiplied by r </li>
          </ul>
        </li>
        <li>Place cap on the max number of transistors you can have m </li>
        <li>Provide choice on what state to be in (change state with a set of buttons that are clearly visible at the top).
          <ul>
            <li>increase base value of m at a flat rate of t transistors per second </li>
            <li>multiply r by 2x </li>
            <li>multiply game speed by 4, but doesn't give any other bonus (the grind is real) </li>
          </ul>
        </li>
        <li>At the end of the run, truncate the number of transistors (thou shalt not have fractional transistors) </li>
        <li>(Edit: Just realized I forgot to mention the mechanism for upgrading during a run. I think it's best to just keep it simple and call it compute. It will be generated every tick by the number of transistors created so far in that run.) </li>
        <li>The number of different types of upgrades will be limited to 3 or 4 (so it's not a clusterfuck) with a logarithmically growing cost.
          <ul>
            <li>multiply r by 1.3x </li>
            <li>multiply m by 2x </li>
            <li>multiply t by 4x </li>
          </ul>
        </li>
        <li>These upgrades should fit on the main page with the stances (no need to piss the player off with constantly changing from shop tab to game tab) </li>
        <li>At the start of the next round, all upgrades and compute mentioned before this are reset </li>
      </ul>
    </li>
    <li>If you sell them, you get credits that let you buy upgrades increasing the base rate of transistor gain or an increase to max size.
      <ul>
        <li>Keep the choices of upgrades small, maybe 1 more than these 2 </li>
        <li>At certain breakpoints of upgrade levels, provide a unique (further discussion if you pick this idea) bonus </li>
      </ul>
    </li>
    <li>If you keep them, you can start training AIs that add multiplicative bonuses to any of the aforementioned stats.
      <ul>
        <li>You can roll an AI up to one time between each round.
          <ul>
            <li>A roll takes 10 seconds </li>
            <li>AI base modifier rolls are random (could potentially do it like a loot system) </li>
            <li>The chance for a better roll increases with transistors available (can't be training an existing AI simultaneously) </li>
          </ul>
        </li>
        <li>The more you train an AI, the better its modifiers get multiplicatively </li>
        <li>AI can be trained forever, providing a game loop choice to the player of whether or not to try rolling a new AI vs training an existing one </li>
        <li>If micromanaged between rounds, a player can do both since it only takes 10 seconds </li>
        <li>Bonuses take logarithmically more compute (reserved transistors * time) to increase the multipliers involved </li>
        <li>All AIs trained work without a cap on how many the player can have active at once (the first reset layer will remove AIs for the next round but this may require reconsidering if balance is too hard) </li>
      </ul>
    </li>
    <li>Starting at a cost of 1 transistor and increasing by 10x each time, increase the round time by 1 second</li>
    <li>At p transistors, the option appears to buy a chip if you reset the game (all your upgrades and AIs). This will let you... </li>
  </ul>
  <p>I think this is already getting to possibly yikes territory, so I'll hold off on thinking of more for now. If you don't want to do this, I totally understand and will likely try to do it myself at some point, regardless (one day... ಠ_ಠ). My lisp and js skills are at the level of nonexistent. Working on it together sounds like it would be a blast though! I come from a data background, so... python? I could definitely try to learn something new, but I won't promise I'd be able to contribute on the code front haha. If you know how to integrate graphics I'm also open to creating pixel stuff of questionable quality. Cool post idea! </p>
  <p>Edit: Just realized I forgot to mention the mechanism for upgrading during a run. I think it's best to just keep it simple and call it compute. It will be generated every tick by the number of transistors created so far in that run. </p>
</section>
<p><a target="_blank" href="https://www.reddit.com/r/incremental_games/comments/goz2nt/ill_prototype_your_idea_over_the_weekend/frj7kiq/">Source<fa-icon [icon]="externalIcon" size="xs"></fa-icon></a></p>
