<h2>Diagnostics</h2>
<span class="display">{{transistors.baseGain() | units:'1.1-1'}}</span> per second base
<br>
<span class="display">{{transistors.rawGain() | units:'1.1-1'}}</span> per second raw
<br>
<span class="display">{{transistors.tickGain(MS_PER_SEC) | units:'1.1-1'}}</span> per second adj.
<br>
{{transistors.currentState}}
<br>
{{transistors.lostPartialT | units:'1.0-3'}} partial transistors lost
<br>
{{transistors.lostAdjT | units:'1.0-3'}} adjusted transistor lost
<br>
{{transistors.gainAdjT | units:'1.0-3'}} adjusted transistor gain
<br>
{{currency[ACC_TRANSISTOR] | units:'1.0-0'}} transistors accumulated <button class="small" (click)="gimmeCash()">+10k plz</button>
<br>
<button class="small" (click)="gimmeBonusTicks()">+10m plz</button>
<br>
r = {{transistors.r | units:'1.1-1'}}
<br>
m = {{transistors.m | units:'1.1-1'}}
<br>
t = {{transistors.t | units:'1.1-1'}}
<ng-container *ngIf="transistors.r !== transistors.baseR">
  <br>
  baseR: {{ transistors.baseR | units:'1.1-1'}}
</ng-container>
<ng-container *ngIf="transistors.m !== transistors.baseM">
  <br>
  baseM: {{ transistors.baseM | units:'1.1-1'}}
</ng-container>
<ng-container *ngIf="transistors.m !== transistors.baseM">
  <br>
  baseT: {{ transistors.baseT | units:'1.1-1'}}
</ng-container>
<br>
<br>
round length: {{ transistors.roundLength.div(MS_PER_SEC) }}
<br>
round left to earn: {{ transistors.adjTotal.sub(currency[TRANSISTOR]) | units:'1.1-1' }}
<br>
round total: {{ transistors.roundTotal | units:'1.1-1' }}
<br>
raw compute 1s: {{ transistors.rawCompute(MS_PER_SEC) | units:'1.1-1' }}
<br>
raw compute {{transistors.roundLength.div(MS_PER_SEC)}}s: {{ transistors.rawCompute(transistors.roundLength) | units:'1.1-1' }}
<br>
round compute left to earn: {{ transistors.roundCompute.sub(transistors.computeTotal) | units:'1.1-1' }}
<br>
round compute total: {{ transistors.roundCompute | units:'1.1-1' }}
<br>
compute total: {{ transistors.computeTotal | units:'1.1-1'}}
<br>
<br>
number ai: {{ aiNum() | units:'1.0-0' }}
<br>
<br>
<button (click)="generateNumber()">Generate Number</button><button (click)="generateRange()">Range</button>
<br>
Random number: {{ randomNumber | units:'1.3-3' }}
<br>
Range Results: {{ randomRangeResults }}
<br>
Results average: {{ resultsAverage | units:'1.1-1' }}
<br>
Results length: {{ randomRangeResults.length }}
